backwardIS.synctex.gz
backwardIS.fdb_latexmk
backwardIS.log
backwardIS.pdf
pdflatex26104.fls
backwardIS.aux
backwardIS.blg
backwardIS.bbl
JCGS/*.aux
JCGS/*.gz
JCGS/*.blg
JCGS/*.bbl
JCGS/*.log
JCGS/main.pdf
supplementary_Rcodes_for_figures/.Rhistory
